html,body {
  width: 100%;
  height: 100%;
}

body {
  background: #092B40;
}

#body {
  display: block;
  background: #092B40;
  padding-top: 40px;
  padding-bottom: 40px;
  min-height: 100%;
}

#header {
  color: #E5E4D7;
  display: block;
  font-size: 30px;
  font-weight: bolder;
  background: #92CD00;
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 10px;
  margin-bottom: 3px;
  padding: 15px 20px 15px 20px;
}

#navigation {
  line-height: 60px;
  height: 60px;
  color: #E5E4D7;
  display: block;
  font-size: 30px;
  font-weight: bolder;
  background: #92CD00;
  margin-left: 20%;
  margin-right: 20%;
  margin-bottom: 0px;
  padding: 0;
}

#footer {
  display: block;
  background: #92CD00;
  margin-top: 6px;
  margin-left: 20%;
  margin-right: 20%;
  margin-bottom: 10px;
  height: 20px;
}

.items {
  display: block;
  font-weight: bolder;
  font-size: 20px;
  background: #FFCF79;
  margin-left: 20%;
  margin-right: 20%;
  margin-bottom: 3px;
  padding: 15px 20px 15px 20px;
}

.display_pics {
  display: inline;
  vertical-align: middle;
  border-radius: 50%;
  border: solid 2px #fff;
  height: 30px;
  width: 30px;
  margin-left: 20px;
  margin-right: 20px;
}

.user_status {
  display: inline;
  vertical-align: middle;
  float: right;
  font-weight: normal;
  font-size: 12px;
  width: 60%;
  height: 34px;
  line-height: 34px;
  text-align: center;
}

.user_name {
  float: left;
  width: 30%;
  text-align: center;
}

a, a:visited, a:hover {
  text-decoration: none;
  color: inherit;
}

.uselect {
  font-size: 15px;
  display: inline-block;
  width: 33.33%;
  height: 60px;
  text-align: center;
}

.uselect:hover {
  transition: .5s;
  cursor: hand;
  border-bottom: 1px solid red;
  color: #444;
  background-color: white;
}

.uselect1 {
  float: left;
}

.uselect3 {
  float: right;
}

svg {
  width: 10px;
  height: 10px;
  display: inline-block;
}

#arrow {
  width: 0;
  height: 0;
  margin: 0px;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  position: relative;
  left: 50%;
  z-index: 10;
  bottom: 10px;
}
